/* 勤怠データテーブル */
.app-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    table-layout: fixed;
}

.app-table th, .app-table td {
    padding: 10px 15px;
    text-align: left;
    color: #737373;
}

.app-table th {
    border-bottom: 3px solid #E1E1E1;
    white-space: nowrap;
}

.app-table td {
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
}


/*名前*/
.app-table th:nth-child(1),
.app-table td:nth-child(1) {
    width: 20%;
    padding-left: 30px;
}

/*出勤時間*/
.app-table th:nth-child(2),
.app-table td:nth-child(2) {
    width: 15%;
    white-space: nowrap;
}

/*退勤時間*/
.app-table th:nth-child(3),
.app-table td:nth-child(3) {
    width: 15%;
    white-space: nowrap;
}

/*休憩時間*/
.app-table th:nth-child(4),
.app-table td:nth-child(4) {
    width: 15%;
    white-space: nowrap;
}

/*合計*/
.app-table th:nth-child(5),
.app-table td:nth-child(5) {
    width: 15%;
    white-space: nowrap;
}

/*詳細*/
.app-table th:nth-child(6),
.app-table td:nth-child(6) {
    width: 10%;
    white-space: nowrap;
}


.detail-link {
    text-decoration: none;
    color: #000000;
}