body {
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 28px;
    margin-bottom: 30px;
    border-left: 8px solid #000000;
    padding-left: 10px;
    display: inline-block;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.calendar-icon {
    width: 24px;
    height: auto;
    vertical-align: middle;
}

/* 勤怠データテーブル */
.attendance-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.attendance-table th, .attendance-table td {
    padding: 10px 15px;
    white-space: nowrap;
    text-align: left;
}

.attendance-table th {
    color: #737373;
    border-bottom: 3px solid #E1E1E1;
}

.attendance-table td {
    color: #737373;
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
}

.attendance-table th:nth-child(1),
.attendance-table td:nth-child(1) {
    padding-left: 30px;
}

.detail-link {
    text-decoration: none;
    color: #000000;
}