/* 勤怠データテーブル */
.app-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.app-table th, .app-table td {
    padding: 10px 15px;
    white-space: nowrap;
    text-align: left;
    color: #737373;
}

.app-table th {
    border-bottom: 3px solid #E1E1E1;
}

.app-table td {
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
}

.app-table th:nth-child(1),
.app-table td:nth-child(1) {
    padding-left: 30px;
}

.detail-link {
    text-decoration: none;
    color: #000000;
}


.export-section {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.export-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
}